.news {
  display: flex;
  flex-direction: column;
  gap: 32px;
  @media (max-width: 768px) {
    padding: 0px 15px;
  }
  &__input {
    padding: 15px;
    font-size: 18px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 20px;
    outline: 0;
  }
}
