.newsPage {
  display: flex;
  flex-direction: column;
  gap: 32px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 40px 40px 0px 0px;
  @media (max-width: 768px) {
    margin: 0px 15px;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__image {
    background-color: blueviolet;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  }
  &__metki {
    padding: 0px 15px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
    &__tips {
      display: flex;
      flex-direction: row;
      gap: 25px;
      &__tip {
        background-color: rgba(75, 0, 130, 0.2);
        padding: 10px 15px;
        border-radius: 20px;
      }
    }
  }
  &__text {
    padding: 15px;
  }
}
